<div class="row mx-auto mb-2">
  <div class="col-12 text-center">
    <!-- ジャンル検索機能 -->
    <% genres.each do |genre| %>
      <%= link_to genre.name, favorites_customer_path(genre_id: genre.id), remote: true, class: "btn btn-outline-secondary mr-2 mb-3" %>
    <% end %>
    <%= link_to "全件表示", favorites_customer_path, remote: true, class: "btn btn-outline-secondary mb-3" %>
    <!--キーワード検索機能-->
    <%= form_with url: favorites_customer_path, method: :get, local: false, class: "col-12 text-center" do |f| %>
      <%= f.text_field :word, placeholder: "住所またはキーワードを入力", required: true, class: "form" %>
      <%= f.button :type => "submit", class: "btn btn-light btn-sm" do %>
        <i class="fa fa-search" aria-hidden="true"></i>検索
      <% end %>
    <% end %>
  </div>
  <% if favorite_parks.size != 0 %>
    <div class="col-12 mb-2">
      <%= page_entries_info(favorite_parks) %>
    </div>
    <%= render "public/parks/map", parks: favorite_parks %>
    <%= render "public/parks/api" %>
    <div class="col-12"><%= paginate favorite_parks, theme: 'bootstrap-5', remote: true %></div>
  <% else %>
    <div class="col-12 text-center">
      <h2 class="mt-5 mb-5">該当の遊び場はありません</h2>
    </div>
  <% end %>
</div>