  <% if favorite_parks.count != 0 %>
    <div class="col-12 mb-2">
      <%= page_entries_info(favorite_parks) %>
    </div>
    <%= render "public/parks/map", parks: favorite_parks %>
    <%= render "public/parks/api" %>
    <div class="col-12"><%= paginate favorite_parks, theme: 'bootstrap-5', remote: true %></div>
  <% else %>
    <div class="col-12 text-center">
      <h2 class="mt-5 mb-5">該当の遊び場はありません</h2>
      <%= link_to "お気に入り一覧に戻る", favorites_customer_path, class: "mt-5 mb-5", style: "font-size: 30px;" %>
    </div>
  <% end %>