<div class='container'>
  <div class="row">
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
    <h2 class="col-sm-12 col-md-4 text-center mt-4"><strong>お気に入りの<br>遊び場一覧</strong></h2>
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
  </div>
  <div class="row mx-auto">
    <% if @favorite_parks.count != 0 %>
      <%= render "public/parks/map", parks: @favorite_parks %>
      <%= render "public/parks/api" %>
    <% else %>
      <div class="col-12">
        <h2 class="mt-5 mb-5 text-center">お気に入りの遊び場はありません</h2>
        <%= link_to parks_path do %>
          <h4 class="mt-5 mb-5 text-center">遊び場一覧に移動する</h4>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 mt-3"><%= paginate @favorite_parks, theme: 'bootstrap-5' %></div>
  </div>
</div>