<h2 class="text-center mt-4"><%= image_tag "kumo.png" %><strong>新規お問い合わせ</strong><%= image_tag "kumo.png" %></h2>
<div class="container">
  <div class="text-center">
    <%= render 'layouts/errors', obj: @contact %>
  </div>
  <div class="row">
    <div class="col-5 px-0 mx-auto">
      <%= link_to contacts_path do %>
        <button type="button" class="btn btn-danger", style='display: block; margin:0 0 0 auto;'>戻る</button>
      <% end %>

      <%= form_with model:@contact, local:true do |f| %>

      <div class="field">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: 'form-control title', placeholder: "タイトルを入力" %>
      </div>
      <div class="field">
        <%= f.label "内容" %>
        <%= f.text_area :body, class: 'form-control body', placeholder: "お問い合わせ内容を入力" %>
      </div><br>
      <div class="actions">
        <%= f.submit "送信", class: 'btn btn-success', style: 'display: block; margin:0 0 0 auto;' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
