<div class="container">
  <div class="row">
    <div class="col-5 px-0 mx-auto">
      <h1 class="text-center">お問い合わせ画面</h1>
      <%= link_to contacts_path do %>
        <button type="button" class="btn btn-danger", style='display: block; margin:0 0 0 auto;'>戻る</button>
      <% end %>

      <%= form_with model:@contact, local:true do |f| %>

      <div class="field">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: 'form-control title', placeholder: "タイトルを入力" %>
      </div>
      <div class="field">
        <%= f.label "内容" %>
        <%= f.text_area :body, class: 'form-control body', placeholder: "お問い合わせ内容を入力" %>
      </div><br>
      <div class="actions">
        <%= f.submit "送信", class: 'btn btn-success', style: 'display: block; margin:0 0 0 auto;' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
