<div class="row">
      <div class="col-7">
  <% park.comments.each do |comment| %>

      <table class="float-right">
        <tr>
          <th>
        <%= image_tag 'boy_03.png', size: "80" %><br>
        <%= comment.child_age %>歳<%= comment.child_moon_age %>ヶ月
      </th>
      <td>
        <%= link_to comment.comment_image, "data-lightbox": comment.comment_image do %>
          <%= image_tag comment.comment_image, :size => '80' %>
        <% end %>
        <%= comment.comment %><br>
      <%= comment.created_at.strftime('%Y年%m月%d日%H時%M分') %>
      <% if comment.customer == current_customer %>
        <%= link_to "削除", park_comment_path(comment.park, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
      <% end %>
      </td>
    </tr>
  </table>

  <% end %>
  </div>
  <div class="col-4 offset-1">
    <%= form_with model: [park, comment], local: false do |f| %>
      <%= f.file_field :comment_image, class: "form-control-file comment_image", accept: 'image/*' %>
      <%= f.text_area :comment, placeholder: "コメントをここに" %><br>
      <%= f.number_field :child_age, in: 0..15, step: 1, size: "50x5", placeholder:"年齢" %>歳
      <%= f.number_field :child_moon_age, in: 0..11, step: 1, placeholder:"月齢" %>ヶ月
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>