<div class="row justify-content-around">
<% park_comments.each do |comment| %>
  <div class="col-sm-12 col-md-6 list">
    <% if comment.score > 0 %>
      <table class="plus-comment mt-3">
        <tr>
          <th class="text-center" width="20%">
            <%= image_tag 'boy_1.png', size: "80" %><br>
          </th>
          <%= render "public/comments/comment_table", park: park, comment: comment %>
        </tr>
      </table>
    <% elsif comment.score < 0 %>
      <table class="minus-comment mt-3">
        <tr>
          <th class="text-center" width="20%">
            <%= image_tag 'boy_2.png', size: "80" %><br>
          </th>
          <%= render "public/comments/comment_table", park: park, comment: comment %>
        </tr>
      </table>
    <% else %>
      <table class="nomal-comment mt-3">
        <tr>
          <th class="text-center" width="20%">
            <%= image_tag 'boy_03.png', size: "80" %><br>
          </th>
          <%= render "public/comments/comment_table", park: park, comment: comment %>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
</div>