<div class="conteiner-fluid">
  <!--ゲストユーザーにのみ表示-->
  <%= render "public/homes/message" %>
  <div class="row-fluid">
    <div class="top col-12">
      <%= image_tag "top.png", class: "top_image" %>
      <p class="main1 text-center">
        <%= image_tag "logo.png", class: "logo_image" %><br>
        Kid's Park Searchは<br>
        公園や児童館など<br>
        子どもと遊べる場所(遊び場)を<br>
        探すためのマップ検索サイトです。<br>
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-12">
      <div class="main2">
        <p class="main2-text text-center"><strong>遊べる場所を探す</strong></p>
        <%= render "public/parks/search_form" %>
      </div>
    </div>
  </div>
</div>
<% unless customer_signed_in? %>
<div class="conteiner mt-4 mb-5">
  <h3 class="text-center"><i class="fa fa-map-marker" style="color: #69b9cf;" aria-hidden="true"></i> 当サイト利用にあたって</h3>
  <p class="text-center">Kid's Park Searchは、ログイン状況によって使用できるサービスが変わります。<br>
  自分に合った使い方で遊び場を探してみて下さい。</p>
  <div class="three_elements">
    <div class="element text-center bg-white mt-2">
      <h4 class="mt-3">未ログイン時</h4>
      <%= image_tag "look.png", style: "display: block; margin: auto; width: auto; height: 250px;" %><br>
      <p>遊び場の閲覧</p>
      <p>遊び場の検索</p>
      <%= link_to parks_path, class: "text-center" do %>
        <button type="button" class="btn btn-info">ログインせずに利用する</button>
      <% end %>
    </div>
    <div class="element text-center bg-white mt-2">
      <h4 class="mt-3">ゲスト時</h4>
      <%= image_tag "create.png", style: "display: block; margin: auto; width: auto; height: 220px;" %><br>
      <p>未ログイン時の機能
      <br>+
      <br>遊び場の投稿・編集
      <br>遊び場のエリア検索</p>
      <%= link_to public_guest_sign_in_path, method: :post, class: "text-center" do %>
        <button type="button" class="btn btn-info">ゲストとしてログインする</button>
      <% end %>
    </div>
    <div class="element text-center bg-white mt-2">
      <h4 class="mt-3">ログイン時</h4>
      <%= image_tag "comment.png", style: "display: block; margin: auto; width: auto; height: 200px;" %><br>
      <p>ゲストユーザーの機能
      <br>＋
      <br>投稿の削除
      <br>コメント機能
      <br>ブックマーク機能</p>
      <%= link_to new_customer_registration_path, class: "text-center" do %>
        <button type="button" class="btn btn-info">新規登録して利用する</button>
      <% end %>
    </div>
  </div>
</div>
<% end %>