<div class="container">
  <h4 class="ml-5 mb-4"><strong>遊び場の詳しい情報</strong></h4>
  <div class="row">

    <div class="col-md-4 offset-md-1 mt-5 mx-auto">
      <div class="mx-auto">
        <% if @park.images.attached? %>
          <% @park.images.each do |image| %>
            <%= link_to image, "data-lightbox": image do %>
              <%= image_tag image, class: "col-3 mt-2", :size => '150×150' %>
            <% end %>
          <% end %>
        <% else %>
          <p class="mt-2 text-center">写真はありません</p>
        <% end %>
      </div>
    </div>
    <div class="col-6 px-0 mt-5 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>遊び場の名前</th><td><%= @park.name %></td>
        </tr>
        <tr>
          <th>遊び場の紹介</th><td><%= safe_join(@park.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @park.genre.name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @park.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @park.phone %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @park.start_time.strftime('%H:%M') %> ~ <%= @park.end_time.strftime('%H:%M') %></td>
        </tr>
        <tr>
          <th>対象年齢</th>
          <td><%= @park.child_age %>歳 <%= @park.child_moon_age %>ヶ月</td>
        </tr>

      </table>
      <div class="text-right mr-5 mt-3">
        <%= link_to '編集する', edit_admin_park_path(@park.id), class: "btn btn-success mr-5" %>
        <%= link_to '削除する', admin_park_path(@park), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <% @park.comments.each do |comment| %>
    <div class="col-4">
      <div class="float-right">
      <%= image_tag 'boy_03.png', size: "80" %><br>
      <%= comment.child_age %>歳<%= comment.child_moon_age %>ヶ月
      </div>
    </div>
    <div class="col-7">
      <%= link_to comment.comment_image, "data-lightbox": comment.comment_image do %>
        <%= image_tag comment.comment_image, :size => '80' %>
      <% end %>
      <%= comment.comment %><br>
      <%= comment.created_at.strftime('%Y年%m月%d日%H時%M分') %>
        <%= link_to "削除", admin_park_comment_path(comment.park, comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    </div>
    <% end %>
</div>