<p id="notice", class="text-center", style="width: 100%; background-color: green; color: white;"><%= notice %></p>
<h2 class="text-center mt-4"><strong>〜お問い合わせ一覧〜</strong></h2>
<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">

    <table class="table mt-4" style="border: 1px solid black;">
        <thead class="table-active">
          <tr>
            <th style="border: 1px solid black;">お問い合わせ日時</th>
            <th style="border: 1px solid black;">タイトル</th>
            <th style="border: 1px solid black;">問い合わせした人</th>
            <th style="border: 1px solid black;">対応状況</th>
            <th style="border: 1px solid black;"></th>
          </tr>
        </thead>
      <% @contacts.reverse.each do |contact| %>
        <tbody>
          <tr>
            <td><%= contact.created_at.strftime('%Y年%m月%d日%H時%M分') %></td>
            <td><%= contact.title %></td>
            <td><%= contact.customer.nickname %></td>
            <td><%= contact.status %></td>
            <td><%= link_to "詳細", admin_contact_path(contact), class: "btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3"><%= paginate @contacts, theme: 'bootstrap-5' %></div>
</div>