<div id="pagenate">
<%= render "layouts/flash" %>
  <div class="container"></div>
    <div class="row">
      <div class="col-sm-10 col-md-6 mx-auto">
        <h2 class="text-center mt-4"><strong>〜お問い合わせ一覧〜</strong></h2>
        <div class="text-right">
          <% Contact.statuses.keys.each do |status| %>
            <%= link_to status, admin_path(status: status), remote: true, class: "btn btn-outline-secondary" %>
          <% end %>
          <%= link_to "全件表示", admin_path, remote: true, class: "btn btn-outline-secondary" %>
        </div>
        <div id="search_result">
          <%= render 'admin/homes/search', contacts: @contacts %>
        </div>
      </div>
      <div class="col-sm-10 col-md-5 mx-auto">
        <h2 class="text-center mt-4"><strong>〜住所不定の遊び場〜</strong></h2>
        <table class="table text-center mt-5 admin-table">
            <thead>
            <tr>
              <th class="table-active" >遊び場名</th>
              <th class="table-active" width="35%"></th>
            </tr>
          </thead>
          <tbody>
            <% @badparks.each do |park| %>
              <tr>
                <td>
                  <%= park.name %>
                </td>
                <td>
                  <%= link_to "詳細", admin_park_path(park.id), class: "btn btn-sm btn-primary text-center" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="mt-3 mx-auto"><%= paginate @badparks, theme: 'bootstrap-5', :param_name => 'park', remote: true %></div>
      </div>
    </div>
  </div>
</div>