<div class="row">
  <div class="col-4 mx-auto">
    <h4><strong>お問い合わせ詳細</strong></h4>
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @contact.title %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td><%= @contact.body %></td>
      </tr>
      <tr>
        <th>問い合わせした人</th>
        <td><%= @contact.customer.nickname %></td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td><%= @contact.customer.email %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
      <%= form_with model: @contact, url: admin_contact_path, method: :patch, local: true do |f| %>
        <%= f.select :status, Contact.statuses.keys %>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </p>
  </div>
</div>