<h2 class="text-center mt-4"><strong>〜お問い合わせ詳細〜</strong></h2>
<div class="row justify-content-center">
  <div class="col-5">
    <table class="table", style="border: 1px solid black;" >
      <tr>
        <th class="table-active", width="20%", style="border: 1px solid black;">タイトル</th>
        <td style="border-top: 1px solid black;"><%= @contact.title %></td>
      </tr>
      <tr>
        <th class="table-active", style="border: 1px solid black;">内容</th>
        <td style="word-break : break-all;"><%= @contact.body %></td>
      </tr>
      <tr>
        <th class="table-active", style="border: 1px solid black;">質問者</th>
        <td><%= link_to admin_customer_path(@contact.customer) do %><%= @contact.customer.nickname %><% end %></td>
      </tr>
      <tr>
        <th class="table-active", style="border: 1px solid black;">連絡先</th>
        <td><%= @contact.customer.email %></td>
      </tr>
      <tr>
        <th class="table-active", style="border: 1px solid black;">対応状況</th>
        <%= form_with model: @contact, url: admin_contact_path, method: :patch, local: true do |f| %>
        <td><%= f.select :status, Contact.statuses.keys %>
            <%= f.submit "更新", class: "btn btn-success" %>
        </td>
        <% end %>
      </tr>
    </table>
    <% if @contact.memo == "" %>
      <div class="col-5 mx-auto">
      <%= form_with model: @contact, url: admin_contact_path, method: :patch, local: true do |f| %>
        <%= f.text_area :memo, placeholder: "対応メモ" %>
        <%= f.submit "更新", class: "btn btn-success", style: 'display: block; margin:0 0 0 auto;' %>
      <% end %>
      </div>
    <% else %>
      <div class="text-center">
        <th>対応メモ</th>:
        <td><%= @contact.memo %></td>
      </div>
    <% end %>
  </div>
</div>