<div class="row">
  <div class="col-2 mx-auto">
    <h4><strong>お問い合わせ詳細</strong></h4>

    <h3 class="text-center"><%= @contact.title %></h3>
    <p><%= @contact.body %></p>
    <p>
      <%= form_with model: @contact, url: admin_contact_path, method: :patch, local: true do |f| %>
        <%= f.select :status, Contact.statuses.keys %>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </p>
  </div>
</div>