<% parks.each_with_index do |park,i| %>
<div class="text-center mb-5 mx-auto">
  <%= link_to park_path(park.id), 'data-turbolinks': false, class: "map-link" do %>
    <div id="map<%= i %>" date-lat="<%= park.latitude %>" date-lng="<%= park.longitude %>" class="map"></div>
    <div class="map-text bg-white text-truncate"><%= park.name %></div>
  <% end %>
</div>
<% end %>

<script>
  function initMap(){
    <% parks.each_with_index do |park,i| %>
      //Idの数だけマップを出力
    var latlng = new google.maps.LatLng(<%= park.latitude %>,<%= park.longitude %>)
      map = new google.maps.Map(document.getElementById('map<%= i %>'),{
      center: {lat: <%= park.latitude %>, lng: <%= park.longitude %>},
      zoom: 13,
      disableDefaultUI: true,
    });
    marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
  <% end %>
  }
</script>