<% parks.each_with_index do |park,i| %>
  <%= link_to park_path(park.id), 'data-turbolinks': false, class: "col-sm-12 col-md-6 col-lg-4 col-xl-3 text-center text-dark text-nowrap mt-5" do %>
    <div id="map<%= i %>" date-lat="<%= park.latitude %>" date-lng="<%= park.longitude %>" style='border-top-left-radius: 10%; border-top-right-radius: 10%; width: 250px; height: 250px; display: block; margin: auto; box-shadow: 5px 0 3px #bbb;'></div>
    <script>
      function initMap(){
        <% parks.each_with_index do |park,i| %>
          //Idの数だけマップを出力
        var latlng = new google.maps.LatLng(<%= park.latitude %>,<%= park.longitude %>)
          map = new google.maps.Map(document.getElementById('map<%= i %>'),{
          center: {lat: <%= park.latitude %>, lng: <%= park.longitude %>},
          zoom: 12,
          disableDefaultUI: true,
        });
        marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
      <% end %>
      }
    </script>
    <div class="bg-white", style="width: 250px; height: 50px; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; display: block; margin: auto; box-shadow: 2px 0 2px 3px #bbb;"><%= park.name %></div>
  <% end %>
<% end %>