<div class="container">
  <h2 class="text-center mt-4"><%= image_tag "tree.png" %><strong>遊び場新規登録</strong><%= image_tag "tree.png" %></h2>
  <div class="text-center">
    <%= render 'layouts/errors', obj: @park %>
  </div>
  <div class="row ml-5">
    <div class="col-9 px-0 mt-3 ml-5">
      <div class="px-5 py-5">
      <%= form_with model:@park do |f| %>
      <table class="table table-borderless pl-5">
      <tr>
        <th>遊び場の画像</th>
        <th><%= f.file_field :images, multiple: true, class: "form-control-file images", accept: 'image/*' %></th>
      </tr>
      <tr>
        <th>遊び場の名前<br><span style="color: red;">※必須</span></th>
        <th><%= f.text_field :name, class: "form-control name" %></th>
      </tr>
      <tr>
        <th>遊び場の紹介<br><span style="color: red;">※必須</span></th>
        <th><%= f.text_area :introduction, class: "form-control introduction" %></th>
      </tr>
      <tr>
        <th>住所<br><span style="color: red;">※必須</span></th>
        <th><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", :size => "50", class: "form-control address" %></th>
      </tr>
      <tr>
        <th>電話番号(ハイフンなし)</th>
        <th><%= f.telephone_field :phone, class: "form-control phone" %></th>
      </tr>
      <tr>
        <th>営業時間</th>
        <th><%= f.time_field :start_time %> ~ <%= f.time_field :end_time %></th>
      </tr>
      <tr>
        <th>対象年齢</th>
        <td>年齢<%= f.number_field :child_age, in: 0..15, step: 1 %>歳
              月齢<%= f.number_field :child_moon_age, in: 0..11, step: 1 %>ヶ月</td>
      </tr>
      <tr>
        <th>ジャンル<br><span style="color: red;">※必須</span></th>
        <th><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %></th>
      </tr>
      </table>
      <div class="text-right mt-3">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
