<div class='container'>
  <div class="row mt-3">
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
    <h2 class="col-sm-12 col-md-4 text-center mt-4"><strong>エリアから探す</strong></h2>
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
  </div>
  <div class="row mt-5 mb-5">
  	<div class="col-12 text-center">
  	  <div class="mb-4">
				<h3><i class="fas fa-map"></i> 北海道/東北</h3>
				<!--北海道と東北のみ抽出-->
				<%= render "public/parks/prefectures", park_addresses: @park_addresses, area1: "北海道", area2: "東北" %>
	  	</div>
	  	<div class="mb-4">
	  		<h3><i class="fas fa-map"></i> 関東</h3>
	  		<!--関東のみ抽出-->
	  		<%= render "public/parks/prefecture", park_addresses: @park_addresses, area: "関東" %>
	 	 	</div>
		  <div class="mb-4">
		  	<h3><i class="fas fa-map"></i> 中部</h3>
		 		 	<!--中部のみ抽出-->
				<%= render "public/parks/prefecture", park_addresses: @park_addresses, area: "中部" %>
		  </div>
		  <div class="mb-4">
		  	<h3><i class="fas fa-map"></i> 関西</h3>
		  	<!--関西のみ抽出-->
			  <%= render "public/parks/prefecture", park_addresses: @park_addresses, area: "関西" %>
		  </div>
		  <div class="mb-4">
		  	<h3><i class="fas fa-map"></i> 中国/四国</h3>
			  	<!--中国・四国のみ抽出-->
				<%= render "public/parks/prefectures", park_addresses: @park_addresses, area1: "中国", area2: "四国" %>
		  </div>
		  <div class="mb-4">
		  	<h3><i class="fas fa-map"></i> 九州/沖縄</h3>
		  		<!--九州・沖縄のみ抽出-->
				<%= render "public/parks/prefectures", park_addresses: @park_addresses, area1: "九州", area2: "沖縄" %>
		  </div>
		</div>
  </div>
</div>