<div class='container'><br>
  <h2 class="text-center"><%= image_tag "tree.png" %><strong>検索結果一覧</strong><%= image_tag "tree.png" %></h2>
  <div class="row mt-4">
    <%= render "public/parks/search_form" %>
  </div>
  <div class="row mx-auto">
    <%= render "public/parks/map", parks: @results %>
    <%= render "public/parks/api" %>
  </div>
  <div class="row">
    <div class="col-12 mt-3"><%= paginate @results, theme: 'bootstrap-5' %></div>
  </div>
</div>