<div class='container mb-5'>
  <div class="row">
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
    <h2 class="col-sm-12 col-md-4 text-center mt-4"><strong>検索結果一覧</strong></h2>
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
  </div>
  <div class="row mt-4">
    <%= render "public/parks/search_form" %>
  </div>
   <!--検索結果の有無によって表示を変更-->
  <% if @results.exists? %>
  <div id='map' class="w-100 mt-5" style="height: 400px; width: 800px;"></div>
  <script>
    // mapの表示関数
    function initMap2() {
      // mapの初期位置を最新投稿の遊び場に設定
      var map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: <%= @result.latitude %>,
            lng: <%= @result.longitude %>
          },
        zoom: 10,
      });
      // 都道府県の遊び場をmap上に表示
      <% @results.each do |park| %>
        (function(){
          var contentString = "遊び場の名前：<%= park.name %>";
            // マーカーを立てる
            var marker = new google.maps.Marker({
              position:{lat: <%= park.latitude %>, lng: <%= park.longitude %>},
              map: map,
              title: contentString
            });
          // 情報ウィンドウ(吹き出し)の定義
          // 投稿の詳細ページへのリンクも
            var infowindow = new google.maps.InfoWindow({
              position: {lat: <%= park.latitude %>, lng: <%= park.longitude %>},
              content: "<a href='<%= park_path(park.id) %>' target='_blank'><%= park.name %></a>"
            });

            // クリックしたときに情報ウィンドウを表示
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            })();
        <% end %>
      }
  </script>

  <div class="row mx-auto mb-5">
      <%= render "public/parks/map", parks: @results %>
      <%#= render "public/parks/api" %>
    <% else %>
      <div class="col-12">
        <h2 class="mt-5 mb-5 text-center">該当の遊び場はありません</h2>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 mt-3v"><%= paginate @results, theme: 'bootstrap-5' %></div>
  </div>
</div>


<!-- 検索マップを追加したため、collbackの記述を変更 -->
<script>
  function mapShow() {
    initMap();
    initMap2();
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=mapShow"></script>