<div class="container">
  <h4 class="ml-5 mb-4"><strong>遊び場の詳しい情報</strong></h4>
  <div class="row">

    <div class="col-md-4 offset-md-1 mt-5 mx-auto">
      <div id="map" date-lat="<%= @park.latitude %>" date-lng="<%= @park.longitude %>" style='width: 350px; height: 300px;'></div>
      <script>
      function initMap(){
        //Idの数だけマップを出力
      var latlng = new google.maps.LatLng(<%=@park.latitude%>,<%=@park.longitude%>);
        map = new google.maps.Map(document.getElementById('map'),{
        center: {lat: <%=@park.latitude%>, lng: <%=@park.longitude%>},
        zoom: 12,
        disableDefaultUI: true,
      });
      marker = new google.maps.Marker({
        position: latlng,
        map: map
      });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>
      <div class="mx-auto">
        <% if @park.images.attached? %>
          <% @park.images.each do |image| %>
            <%= link_to image, "data-lightbox": image do %>
              <%= image_tag image, class: "col-3 mt-2", :size => '150×150' %>
            <% end %>
          <% end %>
        <% else %>
          <p class="mt-2 text-center">写真はありません</p>
        <% end %>
      </div>
    </div>
    <div class="col-6 px-0 mt-5 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>遊び場の名前</th><td><%= @park.name %></td>
        </tr>
        <tr>
          <th>遊び場の紹介</th><td><%= safe_join(@park.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @park.genre.name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @park.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @park.phone %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @park.start_time.strftime('%H:%M') %> ~ <%= @park.end_time.strftime('%H:%M') %></td>
        </tr>
        <tr>
          <th>対象年齢</th>
          <td><%= @park.child_age %>歳 <%= @park.child_moon_age %>ヶ月</td>
        </tr>
      </table>
      <div class="text-right mr-5 mt-3", style="font-size: 50px;">
        <div id="park_<%= @park.id %>"><%= render 'public/favorites/favorite', park: @park %></div>
      </div>
      <% if @park.customer == current_customer %>
      <div class="text-right mr-5 mt-3">
        <%= link_to '編集する', edit_park_path(@park.id), class: "btn btn-success mr-5" %>
        <%= link_to '削除する', park_path(@park), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      </div>
      <% else %>
      <% end %>
    </div>
  </div>
  <br>
  <h2 class="text-center"><strong>〜コメント〜</strong></h2>
  <div id="comments_area">
    <%= render 'public/comments/comment', park: @park, comment: @comment %>
  </div>
</div>