<div class="container mb-5">
  <div class="row">
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
    <h2 class="col-sm-12 col-md-4 text-center mt-4"><strong><%= @park.name %></strong></h2>
    <span class="col-sm-12 col-md-4 text-center"><%= image_tag "tree.png" %></span>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
      <div id="map" date-lat="<%= @park.latitude %>" date-lng="<%= @park.longitude %>" class="show_map"></div>
      <script>
      function initMap(){
        //Idの数だけマップを出力
      var latlng = new google.maps.LatLng(<%=@park.latitude%>,<%=@park.longitude%>);
        map = new google.maps.Map(document.getElementById('map'),{
        center: {lat: <%=@park.latitude%>, lng: <%=@park.longitude%>},
        zoom: 12,
        disableDefaultUI: true,
      });
      marker = new google.maps.Marker({
        position: latlng,
        map: map
      });
      }
      </script>
      <%= render "public/parks/api" %>
      <div class="row mx-auto">
        <!--投稿時の写真の有無によって表示変更-->
        <% if @park.images.attached? %>
          <% @park.images.each do |image| %>
            <%= link_to image, "data-lightbox" => image, "data-lightbox" => "group", class: "col-4 mt-3" do %>
              <%= image_tag image, style: "display: block; margin: auto;  width: 100px; height: 80px;" %>
            <% end %>
          <% end %>
        <% else %>
          <h5 class="col-12 mt-5 text-center">写真はありません</h5>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-5 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>遊び場の紹介</th><td><%= safe_join(@park.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @park.genre.name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @park.address %><br>
          <!--住所の入力内容によって表示を変更-->
          <% if @park.latitude == nil %>
          <p style="color: red;">(住所が判別できない場合、一覧には表示されません)</p>
          <% end %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <!--電話番号の有無によって表示を変更-->
          <% if @park.phone == "" %>
            <td>情報がありません</td>
          <% else %>
            <td><%= @park.phone %></td>
          <% end %>
        </tr>
        <tr>
          <th>営業時間</th>
          <!--営業時間の入力内容によって表示を変更-->
          <% if @park.start_time == nil && @park.end_time == nil %>
            <td>情報がありません</td>
          <% elsif @park.start_time == nil %>
            <td>開園時間の情報がありません<br>
                閉園時間:<%= @park.end_time.strftime('%H:%M') %></td>
          <% elsif @park.end_time == nil %>
            <td>開園時間:<%= @park.start_time.strftime('%H:%M') %><br>
                閉園時間の情報がありません</td>
          <% else %>
            <td><%= @park.start_time.strftime('%H:%M') %> ~ <%= @park.end_time.strftime('%H:%M') %></td>
          <% end %>
        </tr>
        <tr>
          <th>対象年齢</th>
          <!--対象年齢の入力内容によって表示を変更-->
          <% if @park.child_age == nil && @park.child_moon_age == nil %>
            <td>情報がありません</td>
          <% elsif @park.child_age == nil %>
            <td>?歳<%= @park.child_moon_age %>ヶ月</td>
          <% elsif @park.child_moon_age == nil %>
            <td><%= @park.child_age %>歳</td>
          <% else %>
            <td><%= @park.child_age %>歳 <%= @park.child_moon_age %>ヶ月</td>
          <% end %>
        </tr>
        <% if @park.customer == current_customer %>
        <tr>
          <% if customer_signed_in? %>
          <!--ブックマークの非同期通信-->
          <th id="park_<%= @park.id %>"><%= render 'public/favorites/favorite', park: @park %></th>
          <% end %>
            <td><%= link_to '編集する', edit_park_path(@park.id), class: "btn btn-success mr-5" %>
            <%= link_to '削除する', park_path(@park), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
        <% else %>
        <% if customer_signed_in? && current_customer.nickname == "ゲストユーザー" %>
          <th></th>
          <td></td>
        <% elsif customer_signed_in? %>
          <th id="park_<%= @park.id %>"><%= render 'public/favorites/favorite', park: @park %></th>
        <% end %>
      <% end %>
      </table>
    </div>
  </div>
  <br>
  <h2 class="text-center"><strong>〜コメント〜</strong></h2>
  <div id="comments_area">
    <%= render 'public/comments/comment', park: @park, comment: @comment %>
  </div>
</div>